{
	"clientId": "BOT_CLIENT_ID",
	"token": "BOT_TOKEN",
	"guildId": "DEV_GUILD_ID",
	"activityResetTimeout": 30,
	"spotifyClientId": "CLIENT_ID_HERE",
	"spotifyClientSecret": "CLIENT_SECRET_HERE",
	"firebase": {
		"SERVICE_ACCOUNT_KEY_HERE": "RIGHT_HERE"
	}
}